@import "fonts";
@import "palette";
@import "mq";

@import "modules/_common";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

$margin-left: 0;//65px;//65px;
$margin-right: 0;//40px;

@import "general";

.interactive-embed {
	
}

.fixed-fix {
    position:fixed;
    top:-1px; 
    height:1px; 
    width:100%; 
    background:white;
}

@import "modules/_match-chart";
@import "modules/_smallchart";
@import "modules/_partnerships-chart";
@import "modules/_partnerships-timeline";
@import "modules/_wickets-timeline";
@import "modules/_tooltip";
