.match-analysis {
	width:100%;
	overflow:hidden;

	position:relative;

	div.info {
		@include fs-textSans(1);
		font-weight: normal;
		color:#767676;
		margin-bottom:10px;
	}
	.match-summary {
		
		

		border-bottom:1px solid #bdbdbd;
		background-color:rgba(255,255,255,0.8);
		//width: 100%;
		//margin-bottom:20px;
		//@include mq(tablet) {
			width:100%;
			display: inline-block;
		//}
		@include mq(tablet) {
			border-bottom:none;
		}
		.match-title {
			float:left;
			//min-height: 50px;
			display: inline-block;
			padding-top:8px;
			@include mq(tablet) {
				float:left;
				padding-top:0;
			}
			h1,h2 {
				margin:0;
				//@include mq(tablet) {
					//display: table;
					//clear:both;
				//}
			}
			h1 {
				// @include fs-header(3);
				// color:#333;
				@include fs-headline(2);
				font-weight: 200;
				color:#000;
				@include mq(tablet) {
					@include fs-headline(5);
					font-weight: 200;
					color:#000;
				}
				
				span {
					//display: none;
					//@include mq(tablet) {
						//display: inline;
					//}
					font-size:14px;
					@include mq(tablet) {
						font-size:18px;
						margin:0px 5px;
					}
					
				}
				b {
					//display: table;
					//@include mq(tablet) {
					display: inline-block;
					@include mq(tablet) {
						line-height: 22px
					}
					font-weight: inherit;
					border-bottom-style:solid;
					border-bottom-width:2px;
					
				}
			}
			h2 {
				@include fs-header(1);
				font-size: 14px;
				@include mq(tablet) {
					@include fs-header(3);
				}
				margin-bottom:0px;
			}	
		}
		
	}

	&.fixed {
		.match-summary {
				position: fixed;
				top:0;
				z-index: 999999999;
		}
		.partnerships {
			margin-top:0px;
		}
	}

	div.line-of-time {
		position: relative;
	    top: 0;
	    float: right;
	    width: 10px;
		div.inning {
			width:100%;
		}
	}
	
}	
	/*
	.match-chart {
		//width:600px;
		//height:300px;

		//min-width: 80px;
		//min-height: 90px;
		//width:120px;
		//height:50px;

		//float:left;
		margin-left:10px;
		margin-right:10px;
		margin-top:150px;
		
		@include fs-textSans(1);
		font-size: 12px;

		.match-title {
			display: none;
			position: absolute;
			margin-top: -2px;
			background-color:rgba(255,255,255,0.8);
			
			color:colour(neutral-2);

			span {
				display: block;
				margin:0;
			}
			p {
				margin: 0;
			}
		}
		


		svg {
			//width:100%;
			//height:calc(100% - 1px);
			//height:71px;
			
			border-bottom:1px solid #ddd;
			
			text.result {
				font-weight: normal;
				font-size: 11px;
				text-anchor:end;
				fill: #aaa;
			}

			g.inn {
				line {
					fill:none;
					stroke-width:1;
				}

				line.connecting {
					stroke:#333;
					stroke-opacity:0.25;
					stroke-width:1 !important;
					//stroke-dasharray:2, 3;
					shape-rendering: crispEdges;
				}

				circle {
					stroke:none;
				}

				text {
					font-size: 11px;
					text-anchor:end;
				}
				text.start {
					text-anchor:start;
				}
				text.winner {
					font-weight: bold;
				}

			}

			path.inn-bg {
				stroke:none;
				fill-opacity:0.3;
			}
			

		}
	}
	
	.match:hover {
		.match-title {
			display: block;
		}
	}

	.match.abandoned {
		background-color: #eee;
		background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,1) 5px, rgba(255,255,255,1) 10px);
		height:70px;

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;

		b {
			
			text-transform: uppercase;
			font-size:11px;
			font-weight:bold;
			color:#999;
			display: block;
			position: relative;
			//top: 50%;
			//transform: translateY(-50%);
			text-align: center;
			line-height:70px;
			margin-bottom:5px;
		}
			
	}
	.match.area svg g.inn line{
		stroke-width:2;
	}
	*/