.small-chart {

	width:50%;
	height:50px;
	float: left;

	@include mq(tablet) {
		float:left;
		width:250px;
		height: 53px;
	}

	svg {
		g.innings {
			line.runs {
				stroke-width:2;
			}
			line.run-link {
				stroke-width:1;
				shape-rendering: crispEdges;
				stroke-opacity:0.25;
				stroke:#333;
			}
			path.runs-bg {
				stroke:none;
				fill-opacity:0.1;
			}
			text.runs {
				@include fs-textSans(1);
				font-size: 11px;
				text-anchor:end;
				fill:#333;
			}
		}
	}

}